.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #F6F5FA;
  user-select: none;
}

.custom-card {
  width: 30%;
  background-color: #D3D2E5;
  color: #F6F5FA;
  padding: 50px 80px;
  cursor: default;
}

mat-card-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 30px;
}

.mat-card-title {
  font-size: 2.4rem;
  font-weight: 700;
  color: #31304A;
}

mat-form-field {
  width: 100%;
}

.login-button{
  width: 100%;
  margin: 0 0 16px 0;
  color: #F6F5FA !important;
  padding: 24px;
  background: #31304A !important;
}
