<div class="card-container">
    <mat-card class="custom-card" appearance="outlined">
      <mat-card-header>
        <img src="/assets/images/logo.png" alt="brand logo" width="100" />
        <p class="mat-card-title">Sign In</p>
      </mat-card-header>

      <!-- Formulario para el email -->
      <form class="example-form">
        <!-- Input para el email -->
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input type="email" matInput [formControl]="emailFormControl" placeholder="Ex. fcastro@gmail.com">
          <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            Please enter your email
          </mat-error>
        </mat-form-field>

        <!-- Input para la contraseña -->
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input type="password" matInput [formControl]="passwordFormControl" placeholder="Enter your password">
          <mat-error *ngIf="passwordFormControl.hasError('required')">
            Please enter a password
          </mat-error>
          <mat-error *ngIf="passwordFormControl.hasError('minlength')">
            Your password must have at least 6 characters
          </mat-error>
        </mat-form-field>
        <button mat-flat-button class="login-button" (click)="onSubmit()">Sign In</button>
        <a routerLink="/signup">Don't have an account? Sign up</a>
      </form>
    </mat-card>
</div>


