<header class="header-container">
    <mat-toolbar color="primary" class="navbar">
      <!-- Logo -->
      <a href="/home-project" class="navbar-brand">
        <img src="/assets/images/logo.png" alt="brand logo" width="100" />
      </a>

      <span class="spacer"></span> <!-- Añade espacio para alinear a la derecha -->

      <!-- Toggler button for small screens (mat-menu) -->
      <button mat-icon-button class="navbar-toggler" [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
      </button>

      <!-- Right side buttons (hidden on small screens) -->
      <div class="navbar-actions">
        <a mat-button class="btn btn-primary" href="/profile">Perfil</a>
        <button mat-button class="btn btn-danger" (click)="logout()" routerLink="/login">Cerrar Sesión</button>
      </div>

      <!-- Menu for small screens -->
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/profile">Perfil</button>
        <button mat-menu-item (click)="logout()" routerLink="/login">Cerrar Sesión</button>
      </mat-menu>
    </mat-toolbar>
</header>



