<app-header-application></app-header-application>


<mat-card class="error-container" style="text-align: center; padding: 20px; max-width: 600px; margin: 40px auto;">

  <h1 mat-card-title>Error 404</h1>
  <p mat-card-subtitle>Lo sentimos, la página que buscas no se ha encontrado.</p>
  <p>Puedes volver a la página de inicio o pedir ayuda a nuestro soporte.</p>

  <mat-card-actions style="justify-content: center;">

    <button style="background: #5E5E99;: #5E5E99" mat-button routerLink="/home-project">Volver a la página de inicio</button>
  </mat-card-actions>
</mat-card>
