/* styles.css */
body {
    background-color: #D3D2E5; /* Color de fondo */
    margin: 0; /* Elimina márgenes del body */
    height: 100vh; /* Asegura que el body ocupe toda la altura */
}

.center-container {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 100vh; /* Asegura que el contenedor ocupe toda la altura */
}

.custom-card {
    width: 600px; /* Ajusta el ancho del mat-card */
    background-color: #ABABCE; /* Color morado */
    color: white; /* Color del texto blanco para mayor legibilidad */
    padding: 20px;
}

.mat-card-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Alinea el contenido al centro horizontalmente */
    text-align: center; /* Alinea el texto en el centro */
    padding: 20px;
}
.row {
    display: flex;
    justify-content: space-between; /* Asegura que haya espacio entre los campos */
}

.email-full-width {
    width: 100%;
}

.example-full-width {
    flex: 1; /* Hace que cada campo ocupe el mismo ancho */
    margin-right: 16px; /* Espacio entre los campos */
}

.example-full-width:last-child {
    margin-right: 0; /* Elimina el margen derecho del último campo */
}

.mat-mdc-card-actions{
    flex-direction: column;
}
.custom-button {
    background-color: #5E5E99 !important; /* Color morado */
    color: white !important; /* Color del texto */
}
.custom-button:hover {
    background-color: #31304A !important; /* Color al pasar el mouse por encima */
}