/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

.mat-radio-button{
  color: #31304A;
}

.btn-primary {
  background-color: #5E5E99;
  border-color: #5E5E99;
  color: white;
}

.btn-primary:hover {
  background-color: #31304A;
  border-color: #31304A;
}
