<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" [opened]="isSidenavOpen">
    <div class="sidenav-header">
      <p>"Restaurant name"</p>
    </div>

    <ng-container *ngFor="let button of sidenavButtons">
      <button
        class="sidenav-button"
        [ngClass]="{ 'active-button': currentComponent === button.component }"
        (click)="showComponent(button.component)"
      >
        {{ button.label }}
      </button>
    </ng-container>
  </mat-sidenav>

  <mat-sidenav-content>
    <ng-container *ngIf="currentComponent === 'caja'">
      <app-caja></app-caja>
    </ng-container>
    <ng-container *ngIf="currentComponent === 'cuentas'">
      <app-cuentas-guardadas></app-cuentas-guardadas>
    </ng-container>
    <ng-container *ngIf="currentComponent === 'historial'">
      <app-historial-ventas></app-historial-ventas>
    </ng-container>
    <ng-container *ngIf="currentComponent === 'movimientos'">
      <app-movimientos-caja></app-movimientos-caja>
    </ng-container>
    <ng-container *ngIf="currentComponent === 'productos'">
      <app-productos></app-productos>
    </ng-container>
    <ng-container *ngIf="currentComponent === 'reporte'">
      <app-reporte-ventas></app-reporte-ventas>
    </ng-container>
    <ng-container *ngIf="currentComponent === 'inventario'">
      <app-inventario></app-inventario>
    </ng-container>
  </mat-sidenav-content>
</mat-sidenav-container>
